@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 70vw;
  margin: 0 auto;
  // border: 1px solid #fff;
}
#header {
  .container {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .utilMenu {
      display: flex;
      li {
        a {
          display: inline-block;
          padding: 4px 20px;
          margin: 0 10px;
          border-radius: 5px;
          &:hover {
            background-color: rgba(28, 28, 28, 0.87);
          }
        }
      }
    }
  }
}
