.titleBox {
  h1 {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 700;
  }
}
#main {
  margin-bottom: 300px;
  height: calc(100% - 296px);
  .container {
    position: relative;
    .mainVisual {
      width: 100%;
      position: relative;
      text-align: right;
      img {
        width: 450px;
        animation: mainIcon 10s ease-in-out infinite;
      }
    }
    .txtBox {
      width: 50%;
      position: absolute;
      top: 50%;
      line-height: 1.1;
      word-break: keep-all;
      height: 100%;
      h1 {
        margin-bottom: 20px;
        font-size: 72px;
        font-weight: 700;
        background: linear-gradient(45deg, #8e9ffa, #f874ef 10%, #ffcc70 29%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        line-height: 1.6;
      }
    }
  }
}

#project {
  .container {
    position: relative;
    .iconBox {
      img {
        width: 80px;
        position: absolute;
        top: -12px;
        left: 20%;
      }
    }
    .projectList {
      .project {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        &.reverse {
          flex-direction: row-reverse;
          .imgBox {
            text-align: end;
          }
        }
        .imgBox {
          // width: 50%;
          img {
            width: 80%;
            height: 100%;
            border-radius: 20px;
          }
        }
        .txtBox {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 50%;
          word-break: keep-all;
          h3 {
            margin: 0 0 10px 0;
            font-size: 32px;
            font-weight: 700;
            background: linear-gradient(45deg, #8e9ffa, #f874ef 10%, #ffcc70 29%, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          p,
          .etc {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 15px;
            line-height: 1.5;
          }
          p {
            // width: 80%;
            margin: 0 0 15px 0;
            word-break: keep-all;
          }
          .techBox {
            margin: 15px 0;
            ul {
              display: flex;
              flex-wrap: wrap;
              li {
                margin: 10px 15px 5px 0;
                border-radius: 5px;
                // background-color: rgba(255, 255, 255, 0.8);
                border-radius: 10px;
                img {
                  border-radius: 10px;
                }
              }
            }
          }
          .linkList {
            display: flex;
            li {
              margin-right: 15px;
              a {
                img {
                  width: 30px;
                  border-radius: 100%;
                }
              }
            }
          }
        }
      }
    }
    .github {
      margin: 100px auto;
      text-align: center;
      a {
        padding: 10px 80px;
        border: 1px solid rgba(255, 255, 255, 0.87);
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        background-color: #1c1c1c;
        &:hover {
          border: none;
          font-weight: 700;
          color: #121212;
          background: rgba(255, 255, 255, 0.8);
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}
#skill {
  .skillList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 180px;
      margin-bottom: 40px;
      .imgBox {
        display: flex;
        align-items: center;
        width: 64px;
        height: 64px;
        margin-bottom: 15px;
        img {
          width: 64px;
        }
      }
      span {
        font-size: 15px;
      }
    }
  }
}
#contact {
  margin-top: 70px;
  .container {
    display: flex;
    // justify-content: space-between;
    .left {
      width: 50%;
      word-break: keep-all;
      .titleBox {
        h1 {
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
        }
      }
      .txtBox {
        margin: 40px 0;
        font-size: 16px;
        p,
        span {
          position: relative;
          line-height: 1.4;
          &.email::after {
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -4px;
            left: 0;
            content: "";
            background-color: rgba(255, 255, 255, 0.87);
          }
        }
        a {
          display: inline-block;
          margin-bottom: 7px;
        }
      }
      .linkBox {
        ul {
          display: flex;
          li {
            margin-right: 10px;
            border: 1px solid rgba(107, 114, 128, 0.87);
            border-radius: 10px;
            a {
              display: flex;
              align-items: center;
              padding: 5px;
              span {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }
      .imgBox {
        img {
          width: 250px;
          animation: contactIcon 4s ease-in-out infinite;
        }
      }
    }
    .right {
      width: 50%;
      #email {
        width: 100%;
        padding: 40px 30px;
        background-color: #222;
        border-radius: 10px;
        form {
          display: flex;
          flex-direction: column;
          label {
            margin: 10px 0;
            font-size: 16px;
          }
          input,
          textarea {
            border: 1px solid transparent;
            font-family: "Noto Sans KR", "Roboto", sans-serif;
            color: #fff;
            background-color: #121212;
            outline: none;
            border-radius: 10px;
            &:focus {
              border: 1px solid transparent;
              background-image: linear-gradient(#141414, #141414), linear-gradient(43deg, #a162e8, #f7ce68 46%, #85ffbd);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
          }
          input {
            height: 40px;
          }
          textarea {
            resize: none;
          }
          button {
            width: 40%;
            margin: 20px 0;
            padding: 10px 15px;
            border: 1px solid rgba(107, 114, 128, 0.87);
            background: none;
            cursor: pointer;
            border-radius: 10px;
            span {
              font-size: 16px;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.87);
            }
          }
        }
      }
    }
  }
}

// animation
@keyframes contactIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mainIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

// 반응형
@media all and (max-width: 1300px) {
  #main {
    margin-bottom: 200px;
  }
}

@media all and (max-width: 830px) {
  #main {
    .container {
      height: calc(100vh - 256px);
      .mainVisual img {
        width: 300px;
      }
      .txtBox {
        width: auto;
        top: 40%;
        margin-top: 70px;
        h1 {
          font-size: 48px;
          font-weight: 500;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  #project .container {
    .iconBox img {
      left: 80%;
    }
    .projectList .project {
      justify-content: center;
      flex-direction: column;
      margin-bottom: 40px;
      &.reverse {
        flex-direction: column;
      }
      .imgBox {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .txtBox {
        width: 100%;
        margin-top: 20px;
        p {
          width: 100%;
        }
        .techBox ul {
          li {
            margin-top: 7px;
          }
        }
      }
    }
    .github a {
      padding: 7px clamp(20px, 15vw, 80px);
    }
  }
  #contact {
    margin-top: 0;
    .container {
      flex-direction: column;
      .left {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
        .infoBox {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 50%;
          .infoWrap {
            margin-left: 100px;
          }
        }
        .imgBox {
          width: 50%;
          position: relative;
          transform: rotate(20deg);
          transition: all 1.5s ease-in-out;
          img {
            width: 270px;
            position: absolute;
            top: -10%;
            left: 10%;
          }
        }
      }
      .right {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 530px) {
  #main {
    margin-bottom: 100px;
    .container {
      height: calc(100vh - 206px);
      .mainVisual img {
        width: 250px;
      }
    }
  }
  #project .container .iconBox img {
    width: 60px;
    top: 5px;
    left: 70%;
  }
  #contact .container .left {
    .infoBox .infoWrap {
      margin: 0;
    }
    .imgBox img {
      left: -10%;
    }
  }
}
@media all and (max-width: 330px) {
  #main .container {
    height: calc(100vh - 166px);
    .mainVisual img {
      width: 170px;
    }
    .txtBox p {
      line-height: 1.2;
      font-size: 13px;
    }
  }
  #project .container {
    .iconBox img {
      width: 45px;
      top: 17px;
    }
    .github {
      a {
        padding: 7px 10px;
        span {
          font-size: 13px;
        }
      }
    }
  }

  #contact .container {
    .left {
      margin: 40px 5px;
      .txtBox {
        font-size: 14px;
      }
      .imgBox img {
        left: -20%;
      }
    }
    .right {
      width: 100%;
      #email form button {
        width: 100%;
      }
    }
  }
}
